# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python virtual environments
venv/
env/
.venv/
.env/
.env 

# PyCharm / VSCode settings
.idea/
.vscode/

# Logs and temporary files
*.log
*.tmp
*.bak

# OS files
.DS_Store
Thumbs.db

# Model files (optional if you want to track them separately)
models/*.h5
models/tokenizer.pkl
models/max_len.txt

# Ignore data files (if too big)
data/*.csv
